matplotlib
numpy
openpyxl
pandas
pip
seaborn
streamlit
wordcloud
streamlit-marquee
streamlit-scrollable-textbox
tabulate
plotly
pytz
pyecharts
streamlit-echarts
streamlit_g2
st-annotated-text
streamlit-extras
